__pycache__
/config/config.py
/config/local_config.py
env/
/output_beats/
/users_sounds/
/sounds/
/pretrained_models/
/example_beats/
.DS_Store
/beatbot/.idea
beatbot/.env
/generator/pretrained_models
/beatbot/re_save
generator/.env
/generator/.idea
/generator/generator/beats/platinum/sounds
